@charset "utf-8";
/* html 언어인코딩 구문. css도 동일하게 적용해줘야함 */

* {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

/* html {
    font-size: 15px;
    폰트사이즈 단위 em사용할경우 작성하는 구문
} */

body {
    font-family: 'HakgyoansimWoojuR';
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

p {
    font-family: 'HakgyoansimWoojuR';
    line-height: 24px;
}

h2 {
    font-family: 'Grandiflora One', serif;
    font-family: 'Jua', sans-serif;
    font-weight: 400;
}

#wrap {
    min-width: 1500px;
}

/* header */
#header {
    height: 102px;
    background-color: #FFE798;
}

.inner_header {
    width: 1440px;
    margin: 0 auto;
    position: relative;
}

.logo {
    float: left;
    padding-top: 30px;
}

.gnb {
    float: left;
    width: 650px;
    position: absolute;
    top: 43px;
    left: 395px;
    display: flex;
    justify-content: space-between;
}

.gnb li a {
    float: left;
    font-family: 'Grandiflora One', serif;
    font-family: 'Jua', sans-serif;
}

.gnb li a:hover {
    color: #F7A631;
}

.link {
    float: right;
    background-color: #fff;
    border-radius: 23px;
    padding: 0;
    margin-top: 30px;
    border: #F7A631 1px solid;
}

.link li {
    float: left;
    padding: 13px 9px;
    display: inline-block;
}

.link li a:hover {
    color: #F7A631;
}

.link li:nth-child(1) a {
    padding: 5px 0 4px 40px;
    background-image: url(../images/icon/icon_login.png);
    background-position: 5px center;
    background-repeat: no-repeat;
}

.link li:nth-child(2) a {
    padding: 5px 10px 4px 40px;
    background-image: url(../images/icon/icon_basket.png);
    background-position: 0 center;
    background-repeat: no-repeat;
}

.sub_link {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 22px;
    background-repeat: no-repeat;
    background-position: right 30px center;
    font-weight: 600;
}

.ye {
    width: 172px;
    height: 64px;
    border: 3px solid #F7A631;
    color: #F7A631;
    background-image: url(../images/icon/icon_right_ye.png);
}

.ye:hover {
    color: #fff;
    background-color: #F7A631;
    background-image: url(../images/icon/icon_right_wh.png);
}

/* main_banner */
#top {
    position: relative;
    height: 970px;

}

#main_banner {
    background-image: url(../images/main/main_banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFF9E5;
    height: 870px;
}

.inner_main_banner {
    width: 1440px;
    margin: 0 auto;
}

.main_baaner_text {
    padding-top: 99px;
}

.main_baaner_text h1 {
    font-family: 'Grandiflora One', serif;
    font-family: 'Jua', sans-serif;
    font-size: 62px;
    line-height: 76px;
    font-weight: 100;
    padding-bottom: 20px;
}

.main_baaner_text p {
    padding: 186px 0 30px;
    font-size: 21px;
    line-height: 30px;
}

#bg_circle {
    background-image: url(../images/common/circle_wh.png);
    height: 164px;
    background-repeat: repeat-x;
    background-position: center;
    z-index: 9;
    position: absolute;
    bottom: 27px;
    left: 0;
    width: 100%;
}

/* intro */

#intro {
    width: 1440px;
    margin: 0 auto;
    height: 882px;
}

#intro .text_box {
    float: left;
    margin-top: 282px;
}

#intro .text_box h2 {
    font-size: 23px;
}

#intro .text_box .title {
    font-family: 'Grandiflora One', serif;
    font-family: 'Jua', sans-serif;
    font-size: 45px;
    padding: 30px 0 49px;
}

.inner_text_box {
    margin-bottom: 55px;
}

#intro .rnb {
    float: right;
    width: 687px;
    height: 456px;
    position: relative;
    margin-top: 210px;
    background-color: #FFE798;
    border-radius: 139px;
}

.intro_c {
    position: absolute;
    bottom: -37px;
    right: 41px;
}

.intro_1 {
    position: absolute;
    top: -41px;
    left: 65px;
    animation: bingle 2s infinite linear;
}

.intro_2 {
    position: absolute;
    top: 155px;
    left: -50px;
    animation: tongtong 2s infinite linear;
}

.intro_3 {
    position: absolute;
    top: 155px;
    left: 128px;
    animation: bingle 2s infinite linear;
}

@keyframes bingle {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes tongtong {
    0% {
        transform: translatey(30px);
    }

    50% {
        transform: translatey(0);
    }

    100% {
        transform: translatey(30px);
    }
}

/* specialevent */
#bg_gr {
    background-image: url(../images/common/circle_gr.png);
    background-position: center;
    background-repeat: repeat;
    height: 164px;
}

#specialevent {
    width: 1440px;
    margin: 0 auto;
    height: 840px;
}

.list_title {
    text-align: center;
    font-size: 25px;
    padding-top: 80px;

}

.spe_top_box {
    overflow: hidden;
}

.inner_specialevent {
    width: 1439px;
    height: 357px;
    border-radius: 190px;
    border: 3px solid #7FBC81;
    margin-top: 112px;
    position: relative;
}

#specialevent .text_box {
    position: absolute;
    top: 75px;
    left: 302px;
}

#specialevent .text_box h2 {
    font-size: 30px;
    margin: 15px 0 52px;
    display: block;
    position: relative;
    z-index: 9;
}

#specialevent .text_box .bg_box {
    position: absolute;
    width: 219px;
    height: 48px;
    background-color: #9CC89D;
    top: 41px;
    left: -6px;
}

#specialevent .coupon {
    position: absolute;
    bottom: 51px;
    right: 109px;
    animation: wang 2s infinite;
}

@keyframes wang {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

.top_img_a {
    position: absolute;
    top: -122px;
    left: 60px;
    animation: bingle 2s infinite linear;

}

@keyframes bingle {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.top_img_g {
    position: absolute;
    top: -201px;
    left: 244px;
}

.bottom_img_c {
    position: absolute;
    top: 154px;
    right: 14px;
    animation: bingle_2 2s infinite linear;
}
@keyframes bingle_2 {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.bottom_img_g {
    position: absolute;
    top: 155px;
    right: -150px;
}

.gr {
    margin-top: 13px;
    padding-top: 20px;
    width: 148px;
    height: 61px;
    border: 3px solid #7FBC81;
    color: #7FBC81;
    background-image: url(../images/icon/icon_right_gr.png);
}

.gr:hover {
    background-color: #7FBC81;
    color: #fff;
    background-image: url(../images/icon/icon_right_wh.png);
}

/* bestseller */
#main_bg {
    background-image: url(../images/main/main_bg.png);
    background-repeat: repeat-x;
    background-position: center;
    height: 1790px;
}

#bestseller {
    width: 1440px;
    height: 881px;
    margin: 0 auto;
    position: relative;
}

.info {
    text-align: center;
    padding-top: 35px;
}

.content_bestseller {
    margin-top: 56px;
}

#bestseller .lnb {
    float: left;
    width: 488px;
    height: 480px;
    position: relative;
}

#bestseller .bg_box {
    width: 488px;
    height: 480px;
    position: absolute;
    background-color: #F7A631;
    border-radius: 40px;
}

#bestseller .bg_box_inner {
    position: absolute;
    width: 454px;
    height: 447px;
    background-color: #fff;
    border-radius: 40px;
    top: 0;
    right: 0;
    border: 3px solid #F7A631;
    z-index: 1;
}

#bestseller .text_box {
    z-index: 9;
    width: 300px;
    height: 339px;
    margin: 54px 0 0 95px;
    box-sizing: border-box;
}

#bestseller .menu_title {
    padding-top: 12px;
    box-sizing: border-box;
    float: left;
    width: 312px;
    height: 52px;
    display: block;
    border-bottom: 1px solid #F7A631;
    background-image: url(../images/icon/icon_right_ye.png);
    background-repeat: no-repeat;
    background-position: center right;
    margin-bottom: 29px;
}

#bestseller .menu_title p {
    display: inline-block;
}

#bestseller .menu_title p:nth-child(1) {
    font-weight: 900;
    font-size: 20px;
}

#bestseller .menu_title p:nth-child(2) {
    padding-left: 17px;
    font-family: 'Grandiflora One', serif;
    font-family: 'Jua', sans-serif;
}

#bestseller .menu_info {
    display: block;
    width: 312px;
    border-bottom: 1px solid #F7A631;
    padding: 59px 0 32px 27px;
    box-sizing: border-box;
}

.price {
    padding-bottom: 126px;
    font-family: 'Grandiflora One', serif;
    font-family: 'Jua', sans-serif;
    font-weight: 400;
    font-size: 30px;
}

.description {
    width: 249px;
}

/* swiper */
#bestseller_menu {
    float: right;
    width: 890px;
    height: 550px;
    margin: 0 auto;
    position: relative;
}

#bestseller_menu .swiper {
    width: 668px;
    margin: 0 auto;
    height: 480px;
    border: #F7A631 5px solid;
    border-radius: 40px;
}

#bestseller_menu .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: top;
}

#bestseller_menu .swiper-wrapper {
    position: relative;
}


#bestseller_menu .swiper-slide img {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    object-fit: cover;
}

.qick_menu {
    position: absolute;
    bottom: 95px;
    right: 161px;
    width: 150px;
    height: 61px;
    z-index: 9;
    font-size: 0;
}

.qick_menu img {
    opacity: 0;
    display: block;
}

.qick_menu a:hover img {
    opacity: 1;
}

.qick_menu .heart {
    display: inline-block;
    background-image: url(../images/icon/icon_heart.png);
    width: 61px;
    height: 61px;
    background-position: left center;
    background-repeat: no-repeat;
    padding-right: 25px;
}

.qick_menu .basket {
    display: inline-block;
    background-image: url(../images/icon/icon_basket_2.png);
    width: 61px;
    height: 61px;
    background-position: right center;
    background-repeat: no-repeat;
}


/* event */
#event_top_box {
    overflow: hidden;
    position: relative;
    height: 1200px;

}

.event_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#event {
    width: 1440px;
    height: 1107px;
    margin: 0 auto;
    position: relative;
}

#event .info {
    margin-bottom: 50px;
}

.inner_event {
    width: 2018px;
    height: 806px;
    border-radius: 153px;
    background-color: #fff;
    position: absolute;
    top: 301px;
    box-shadow: 10px 0 30px rgba(0, 0, 0, 0.3);
}

.event_img_1 {
    position: absolute;
    top: 90px;
    left: 122px;
    animation: wang 2s infinite;
}

.event_img_2 {
    position: absolute;
    top: 160px;
    left: 450px;
    z-index: 9;
    animation: wang 3s infinite;
}

@keyframes wang {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

.inner_event .lnb {
    float: left;
    width: 270px;
    height: 479px;
    margin-left: 123px;
    padding-right: 162px;
    border-right: #F7A631 1px solid;
}

.ongoing {
    background-color: #000;
    color: #fff;
    width: 50px;
    height: 22px;
    font-size: 10px;
    border-radius: 11px;
    padding: 6px 12px;
    box-sizing: border-box;
    margin-bottom: 13px;
}

.summary {
    padding: 55px 0 54px;
}

.link_event li {
    margin-top: 127px;
    float: left;
    box-sizing: border-box;
    display: inline-block;
}

.link_event li a {
    border: 1px solid #F7A631;
    width: 86px;
    height: 40px;
    border-radius: 31px;
}

.link_event li:nth-child(1) a {
    padding: 10px 23px 8px 34px;
    margin-right: 27px;
    background-image: url(../images/icon/icon_left_ye.png);
    background-repeat: no-repeat;
    background-position: 15px center;
}

.link_event li:nth-child(2) a {
    padding: 10px 34px 8px 23px;
    background-image: url(../images/icon/icon_right_ye.png);
    background-repeat: no-repeat;
    background-position: 59px center;
}

.link_event li:nth-child(1) a:hover {
    background-color: #F7A631;
    color: #fff;
    background-image: url(../images/icon/icon_left_wh.png);
    background-repeat: no-repeat;
    background-position: 15px center;
}

.link_event li:nth-child(2) a:hover {
    background-color: #F7A631;
    color: #fff;
    background-image: url(../images/icon/icon_right_wh.png);
    background-repeat: no-repeat;
    background-position: 59px center;
}

/* event_swiper */
.inner_event .rnb {
    float: right;
    width: 1246px;
}

#event .swiper {
    width: 100%;
    margin: 0 auto;
    height: 501px;
}

#event .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: top;
}

#event .swiper-wrapper {
    position: relative;
}


#event .swiper-slide img {
    display: block;
    width: 397px;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}


/* bestreview */
#bestreview {
    width: 1440px;
    overflow: hidden;
    margin: 270px auto;
}

.content_bestreview {
    width: 1440px;
    margin-top: 84px;
    position: relative;
}

.content_bestreview ul {
    width: 1440px;
}

.content_bestreview .bestreview_1 {
    float: left;
}

.content_bestreview .bestreview_2 {
    float: right;
}

.content_bestreview .bestreview_3 {
    float: left;
}

.content_bestreview li {
    float: left;
    width: 23%;
    margin-right: 2%;
    margin-bottom: 57px;
    border-radius: 39px;
    position: relative;
}

.review_img {
    overflow: hidden;
    border-radius: 39px;
}

.review_img img {
    width: 100%;
    display: block;
    transition: transform 0.3s;
}

.content_bestreview li:hover .review_img img {
    transform: scale(1.1);
}

.review_cover {
    border-radius: 39px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.content_bestreview li:hover .review_cover {
    opacity: 1;
}

.review_text {
    position: absolute;
    bottom: 35px;
    left: 30px;
    z-index: 9;
    color: #fff;
}

.review_title {
    display: inline-block;
    padding-bottom: 8px;
    padding-right: 120px;
    border-bottom: 1px solid #fff;
    margin-bottom: 8px;
}

.review_text img {
    display: block;
    margin-bottom: 15px;
}

.content_bestreview li:nth-child(4),
li:nth-child(8),
li:nth-child(12) {
    margin-right: 0;
}

.bg_img_1 {
    width: 337px;
    height: 231px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}

.bg_img_2 {
    width: 332px;
    height: 328px;
    display: block;
    position: absolute;
    top: 397px;
    left: 0;
}

.bg_img_3 {
    width: 332px;
    height: 328px;
    display: block;
    position: absolute;
    top: 811px;
    right: 0;
}

/* footer */
#footer {
    background-color: #F7A631;
    height: 250px;
}

.inner_footer {
    width: 1440px;
    margin: 0 auto;
    padding-top: 50px;
    position: relative;
}

.footer_logo {
    float: left;
}

.footer_info {
    width: 800px;
    overflow: hidden;
}

.footer_info ul {
    float: left;
    margin: 0 0 15px 57px;
}

.footer_info ul:nth-child(2) {
    margin: 0 0 5px 57px;
}

.footer_info_1 li {
    float: left;
}

.footer_info_1 li a {
    color: #fff;
}

.footer_info_1 li a::after {
    content: "";
    width: 1px;
    height: 10px;
    background-color: #fff;
    display: inline-block;
    margin: 0 14px;
}

.footer_info_2 li::after {
    content: "";
    width: 1px;
    height: 10px;
    background-color: #fff;
    display: inline-block;
    margin: 0 14px;
}

.footer_info_1 li:nth-child(4) a::after {
    display: none;
}

.footer_info_2 li:nth-child(3)::after {
    display: none;
}

.footer_info_3 li:nth-child(2)::after {
    display: none;
}

.footer_info_2 {
    float: left;
}

.footer_info_2 li {
    float: left;
    color: #fff;
}

.footer_info_2 li a {
    color: #fff;
    padding-left: 5px;
}

.footer_info_3 li {
    float: left;
    color: #fff;
}

.footer_info_3 li::after {
    content: "";
    width: 1px;
    height: 10px;
    background-color: #fff;
    display: inline-block;
    margin: 0 14px;
}

.footer_info p {
    color: #fff;
    clear: both;
    margin-left: 57px;
}

.link_footer {
    position: absolute;
    bottom: 30px;
    right: 0;
}

.link_footer li {
    float: left;
    padding-left: 13px;
}

.link_footer_1 li a {
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    padding: 8px 23px;
    border-radius: 83px;
}

.link_footer_1 li a:hover {
    background-color: #fff;
}

.link_footer_1 li a:hover img {
    opacity: 1;
}

.link_footer_1 li a img {
    display: block;
    opacity: 0.5;
}

.link_footer_2 {
    float: left;
    padding-top: 15px;
}

.link_footer_2 li {
    padding-left: 30px;
}

.link_footer_2 li:nth-child(1) {
    padding-left: 19px;
}

.link_footer_2 li a img {
    width: 100%;
    display: block;
    opacity: 0.5;
}

.link_footer_2 li a:hover img {
    opacity: 1;
}