@charset "utf-8";
/* html 언어인코딩 구문. css도 동일하게 적용해줘야함 */

*{
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

/* html {
    font-size: 15px;
    폰트사이즈 단위 em사용할경우 작성하는 구문
} */

body {
    font-family: 'HakgyoansimWoojuR';
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

p {
    font-family: 'HakgyoansimWoojuR';
    line-height: 24px;
}

h2 {
    font-family: 'Grandiflora One', serif;
    font-family: 'Jua', sans-serif;
    font-weight: 400;
}

#wrap{
    min-width: 1500px;
}

.list_title{
    font-family: 'Grandiflora One', serif;
    font-family: 'Jua', sans-serif;
    font-size: 25px;
    text-align: center;
}
.sub_link {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 22px;
    background-repeat: no-repeat;
    background-position: right 30px center;
    font-weight: 600;
    margin-top: 20px;
}
.ye {
    width: 172px;
    height: 64px;
    border: 3px solid #F7A631;
    color: #F7A631;
    background-image: url(../images/icon/icon_right_ye.png);
}
.ye:hover {
    color: #fff;
    background-color: #F7A631;
    background-image: url(../images/icon/icon_right_wh.png);
}

/* header */
#header {
    height: 102px;
    background-color: #FFE798;
}

.inner_header {
    width: 1440px;
    margin: 0 auto;
    position: relative;
}

.logo {
    float: left;
    padding-top: 30px;
}

.gnb {
    float: left;
    width: 650px;
    position: absolute;
    top: 43px;
    left: 395px;
    display: flex;
    justify-content: space-between;
}

.gnb li a {
    float: left;
    font-family: 'Grandiflora One', serif;
    font-family: 'Jua', sans-serif;
}

.gnb li a:hover {
    color: #F7A631;
}

.link {
    float: right;
    background-color: #fff;
    border-radius: 23px;
    padding: 0;
    margin-top: 28px;
    border: #F7A631 1px solid;
}

.link li {
    float: left;
    padding: 13px 9px;
    display: inline-block;
}

.link li a:hover {
    color: #F7A631;
}

.link li:nth-child(1) a {
    padding: 5px 0 4px 40px;
    background-image: url(../images/icon/icon_login.png);
    background-position: 5px center;
    background-repeat: no-repeat;
}

.link li:nth-child(2) a {
    padding: 5px 10px 4px 40px;
    background-image: url(../images/icon/icon_basket.png);
    background-position: 0 center;
    background-repeat: no-repeat;
}

/* main_banner */
#top{
    position: relative;
    height: 970px;
}
#main_banner {
    background-color: #FFF9E5;
    height: 848px;
    background-image: url(../images/sub3_event/main_banner.png);
    background-repeat: no-repeat;
    background-position: top center;
}
.inner_main_banner{
    width: 1440px;
    margin: 0 auto;
    position: relative;
}
.goods_01{
    position: absolute;
    top: 101px;
    left: -109px;
    animation: wang 2s infinite;
}
.goods_02{
    position: absolute;
    top: 395px;
    left: 323px;
    animation: wang 3s infinite;
}
@keyframes wang{
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}


#bg_circle{
    background-image: url(../images/common/circle_wh.png);
    height: 164px;
    background-repeat: repeat-x;
    background-position: center;
    z-index: 9;
    position: absolute;
    bottom: 27px;
    left: 0;
    width: 100%;
}

.list_title {
    text-align: center;
    font-size: 25px;
    padding-top: 80px;
}

/* event */
#event{
    width: 1440px;
    height: 1670px;
    margin: 0 auto;
}
.info {
    text-align: center;
    padding-top: 35px;
}
/* search */
#search{
    margin-top: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* #category{
    width: 143px;
    height: 61px;
    border-radius: 30px;
    padding-left: 32px;
    border: 1px solid #F7A631;
    margin-right: 20px;
    font-size: 20px;
} */
#select_wrap{
    width: 160px;
    position: relative;
    margin-right: 20px;
}
#select_btn{
    height: 61px;
    box-sizing: border-box;       
    border: 1px solid #F7A631;
    border-radius: 30px;
    padding: 10px 20px; 
    cursor: pointer;         
    font-size: 20px;  
}
#select{
    padding-top: 8px;
}
.option_wrap{
    width: 100%;
    border-radius: 15px;     
    border: 1px solid #F7A631;
    box-sizing: border-box;
    position: absolute;
    top: 70px;
    left: 0;
    /* background-color: #fff; */
}
.option_wrap p{
    cursor: pointer;
    padding: 15px 19px 0px;
}
.option_wrap p:nth-child(2){
    padding-bottom: 15px;
}
.option_wrap p:hover{
    /* background-color: #FFE798; */
    font-weight: bold;
}
.plus{
    position: absolute;
    right: 18px;
    top: 18px;
}
.turn{transform:rotate(180deg);}
/* .plus img{transition:transform 0.5s;} */

.search_bar input{
    width: 498px;
    height: 61px;
    font-size: 20px;
    padding-left: 32px;
    border: 1px solid #F7A631;
    border-radius: 30px;
    margin-right: 20px;
}
#search button {
    font-size: 20px;
    border: none;
    background-color: #FFE798;
    width: 114px;
    height: 60px;
    border-radius: 30px;
    cursor: pointer;
  }

.event_list{
    width: 1440px;
    height: 1040px;
    margin-top: 129px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.event_list li img{
    width: 684px;
    display: block;
}

.page{
    width: 109px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-family: 'Jua', sans-serif;
    font-size: 18px;
}

/* specialevent */
.spe_top_box{
    overflow: hidden;
}

#specialevent {
    width: 1440px;
    margin: 0 auto;
    height: 840px;
}

#specialevent .text_box {
    position: absolute;
    top: 75px;
    left: 302px;
}

#specialevent .text_box h2 {
    font-size: 30px;
    margin: 15px 0 52px;
    display: block;
    position: relative;
    z-index: 9;
}

#specialevent .text_box .bg_box {
    position: absolute;
    width: 219px;
    height: 48px;
    background-color: #FFE798;
    top: 41px;
    left: -6px;
}

.inner_specialevent {
    width: 1439px;
    height: 357px;
    border-radius: 190px;
    border: 3px solid #F7A631;
    background-color: #FFF8E4;
    margin-top: 112px;
    position: relative;
}

.top_img {
    position: absolute;
    top: -42px;
    left: 78px;
    animation: bounce 5s infinite linear;
}

.glitter_01{
    position: absolute;
    top: 73px;
    left: 82px;
}
.glitter_02{
    position: absolute;
    right: 70px;
    bottom: 30px;
}
.app{
    position: absolute;
    top: 88px;
    right: 159px;
}
.bubble_01{
    position: absolute;
    top: 50px;
    right: 432px;
    animation: wang 2s infinite;
}
.bubble_02{
    position: absolute;
    top: 190px;
    right: 440px;
    animation: wang 3s infinite;
}


.store_link{
    display: flex;
    justify-content: space-between;
    width: 412px;
    margin-top: 18px;
}

#bg_small{
    background-image: url(../images/sub3_event/bg.png);
    height: 59.5px;
    background-repeat: repeat-x;
    background-position: center;
}

/* Benefits */
#Benefits{
    background-color: #FFE89F;
    height: 1519px;
}
.inner_Benefits{
    width: 1440px;
    height: 1519px;
    margin: 0 auto;
    position: relative;
}
.benefits_bg{
    position: absolute;
}
.bg_img01{
    top: 94px;
    left: 27px;
}
.bg_img02{
    top: 752px;
    right: 48px;
    z-index: 9;
}
.bg_img03{
    bottom: 206px;
    right: 475px;
}
.list_title span{
    text-emphasis-style: dot;

    text-emphasis-position: over left;
 
    -webkit-text-emphasis-style: dot;
 
    -webkit-text-emphasis-position: over;
}
.Benefits_list{
    width: 1440px;
    height: 443px;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    z-index: 9;
    position: absolute;
}
.Benefits_list li{
    width: 337px;
    height: 442px;
    background-color: #FFF9E5;
    border: 5px dashed #F7A631;
    border-radius: 39px;
    text-align: center;
}
.Benefits_list li img{
    display: block;
    margin: 0 auto;
    padding-top: 51px;
}
.Benefits_list li p{
    font-size: 20px;
}
.grade{
    font-family: 'Jua', sans-serif;
    font-size: 25px;
    padding: 34px 20px 55px;
    display: block;
}
.grade::after{
    content: "";
    display: inline-block;
    width: 270px;
    height: 2px;
    background-color: #F7A631;
}
.discount{
    font-family: 'Jua', sans-serif;
    font-size: 20px;
    padding-top: 18px;
}
.guide{
    width: 1440px;
    height: 427px;
    margin: 0 auto;
    border-radius: 39px;
    background-color: #FFF9E5;
    padding: 60px 63px;
    box-sizing: border-box;
    position: absolute;
    top: 800px;
}
.guide h3{
    font-size: 25px;
    padding-bottom: 34px;
}

.guide p{
    font-size: 20px;
    font-weight: 500;
    line-height: 2.3rem;
}



























/* footer */
#footer {
    background-color: #F7A631;
    height: 250px;
}

.inner_footer {
    width: 1440px;
    margin: 0 auto;
    padding-top: 50px;
    position: relative;
}

.footer_logo {
    float: left;
}

.footer_info {
    width: 800px;
    overflow: hidden;
}

.footer_info ul {
    float: left;
    margin: 0 0 15px 57px;;
}

.footer_info ul:nth-child(2) {
    margin: 0 0 5px 57px;
}

.footer_info_1 li {
    float: left;
}

.footer_info_1 li a {
    color: #fff;
}

.footer_info_1 li a::after {
    content: "";
    width: 1px;
    height: 10px;
    background-color: #fff;
    display: inline-block;
    margin: 0 14px;
}

.footer_info_2 li::after {
    content: "";
    width: 1px;
    height: 10px;
    background-color: #fff;
    display: inline-block;
    margin: 0 14px;
}

.footer_info_1 li:nth-child(4) a::after {
    display: none;
}

.footer_info_2 li:nth-child(3)::after {
    display: none;
}

.footer_info_3 li:nth-child(2)::after {
    display: none;
}

.footer_info_2 {
    float: left;
}

.footer_info_2 li {
    float: left;
    color: #fff;
}

.footer_info_2 li a {
    color: #fff;
    padding-left: 5px;
}

.footer_info_3 li {
    float: left;
    color: #fff;
}

.footer_info_3 li::after {
    content: "";
    width: 1px;
    height: 10px;
    background-color: #fff;
    display: inline-block;
    margin: 0 14px;
}

.footer_info p {
    color: #fff;
    clear: both;
    margin-left: 57px;
}

.link_footer {
    position: absolute;
    bottom: 30px;
    right: 0;
}

.link_footer li {
    float: left;
    padding-left: 13px;
}

.link_footer_1 li a {
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    padding: 8px 23px;
    border-radius: 83px;
}

.link_footer_1 li a:hover {
    background-color: #fff;
}

.link_footer_1 li a:hover img {
    opacity: 1;
}

.link_footer_1 li a img {
    display: block;
    opacity: 0.5;
}

.link_footer_2 {
    float: left;
    padding-top: 15px;
}

.link_footer_2 li {
    padding-left: 30px;
}

.link_footer_2 li:nth-child(1) {
    padding-left: 19px;
}

.link_footer_2 li a img {
    width: 100%;
    display: block;
    opacity: 0.5;
}

.link_footer_2 li a:hover img {
    opacity: 1;
}
